
body{
    margin: auto;
}
main{
    /* background-color: black; */
    place-items: center;
    
    
}
cards{
    grid-area: KA;
}
kosar{
    grid-area: KO;
}
.cards{
    border-radius: 20px;
    background-color: white;
    margin: auto;
    place-items: center;
    padding: auto;
}
.card{
    padding: 10px;
    margin: 5px;
}
.gomb, .gombTORLES{
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
}
.gomb:hover{
    background-color: black;
    color: white;

}
.gombTORLES{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
}
/* .gombTORLES: hover{
    background-color: black;
    color: white;

} */

#rendezes{
    margin-right: 5px;
}
#szuresEsRendezes{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.kosar{
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    color: white;
}

