
body{
    margin: auto;
    place-items: center;
}
main{
    /* background-color: black; */
    place-items: center;
    
    
}
cards{
    grid-area: KA;
}
kosar{
    grid-area: KO;
}
.cards{
    border-radius: 20px;
    background-color: white;
    margin: auto;
    place-items: center;
    padding: auto;
}
.card{
    padding: 10px;
    margin: 5px;
}
.gomb, .gombTORLES{
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
}
.gomb:hover{
    background-color: black;
    color: white;

}
.gombTORLES{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0);
    border-radius: 5px;
    padding: 5px;
}
.gombTORLES:hover{
    background-color: black;
    color: white;

}

#rendezes{
    margin-right: 5px;
}
#szuresEsRendezes{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.kosarDIV{
    float: center;
    margin: auto;
    place-items: center;
    padding: auto;
}
.kosar{
    background-color: black;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    width: 64%;
    
    
}
.kosar h4{
    border-bottom: 2px solid white;
}

tablazat{
    max-width: 100%;
    
    text-align: left;
}
td{
    border-bottom: 1px solid white;
    padding: 5px;
}
#quantity{
    border-radius: 8px;
}

@media only screen and (max-width: 500px) {
    .kosar{
        width: 90%;
    }
  }